.logo {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-header__inner {
  padding-top: 43px;
  display: flex;
}
.main-header__nav {
  text-align: center;
  margin-left: auto;
  display: flex;
}
.main-header__nav li {
  text-transform: uppercase;
  font-style: normal;
  font-family: "Barlow";
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin-left: 33px;
}

.main-header__nav li a {
  color: #83888f;
}

.main-header {
  position: relative;
}

.main-header__nav a:hover {
  color: #333d4b;
}
