.logo {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-header-inner {
  padding-top: 43px;
  display: flex;
}
.nav {
  text-align: center;
  margin-left: auto;
  display: flex;
}
.nav li {
  text-transform: uppercase;
  font-style: normal;
  font-family: "Barlow";
  font-size: 18px;
  line-height: 15px;
  font-weight: 700;
  margin-left: 33px;
}
.nav li:last-child {
  margin-right: 81px;
}

.nav li a {
  color: #83888f;
}
