.choose-coffee {
  display: flex;
}

.choose-coffee__form {
  margin-left: auto;

  h2 {
    font-family: "Fraunces";
    font-size: 40px;
    line-height: 48px;
    color: #83888f;
  }
}

.choose-coffee__sticky ul li a {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.choose-coffe__line {
  margin: 24px 0;
  width: 255px;
  height: 1px;
  background-color: #83888f;
}

.choose-coffee__sticky ul li:nth-child(1):before {
  content: "01";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.choose-coffee__sticky ul li a:nth-child(3):before {
  content: "02";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.choose-coffee__sticky ul li:nth-child(5):before {
  content: "03";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.choose-coffee__sticky ul li:nth-child(7):before {
  content: "04";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.choose-coffee__sticky ul li:nth-child(9):before {
  content: "05";
  margin-right: 23px;
  color: #83888f;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 32px;
}

.choose-coffee__fist {
  display: flex;
  gap: 20px;

  input[type="radio"]:checked {
    & + .choose-coffee__label {
      background-color: #0e8784;
      color: #f4f1eb;

      p {
        color: #f4f1eb;
      }
    }
  }
}

.choose-coffee__label {
  display: block;
  max-width: 230px;
  cursor: pointer;
  background-color: #f4f1eb;
  border: 1px solid #f4f1eb;
  border-radius: 8px;
  padding: 32px 28px 84px 24px;
  transition: 0.3s ease;

  h4 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
  }

  p {
    color: #333d4b;
    margin: 0;
  }

  &:hover {
    background-color: #fdd6ba;
  }
}
