.container {
  max-width: $desktop;
  padding: 0 15px;
  margin: 0 auto;

  body {
    background-color: $grey800;
  }

  @media (max-width: $tablet) {
    max-width: $tablet;
  }

  @media (max-width: $tablet) {
    max-width: 100%;
  }
}
