.our-collection {
  padding-top: 36px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 126px;

  &__img {
    position: absolute;
    top: 849px;
    opacity: 0.5;
    display: flex;
    margin: 0 auto;
  }

  img {
    margin: 0 auto;
  }
}
