.our-collection {
  position: relative;
  padding-top: 36px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 126px;
  flex-wrap: wrap;

  &__liniar-gradient {
    z-index: -1;
    top: 60px;
    position: absolute;
    width: 1111px;
    height: 196px;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0.0001) 0%,
      #fefcf7 100%
    );
  }

  &__header {
    margin: 0 auto;
    top: 0;
    z-index: -10;
    position: absolute;
    margin: 0;
    width: 1111px;
    text-align: center;
    color: #83888f;
    font-size: 150px;
    line-height: 72px;
  }
}
